/* Coolors Exported Palette - coolors.co/e4002b-000000-353531-ec4e20-ff9505 */

/* HSL */
$color1: hsla(349%, 100%, 45%, 1);
$color2: hsla(0%, 0%, 0%, 1);
$color3: hsla(60%, 4%, 20%, 1);
$color4: hsla(14%, 84%, 53%, 1);
$color5: hsla(35%, 100%, 51%, 1);

/* RGB */
$color1: rgba(228, 0, 43, 1);
$color2: rgba(0, 0, 0, 1);
$color3: rgba(53, 53, 49, 1);
$color4: rgba(236, 78, 32, 1);
$color5: rgba(255, 149, 5, 1);