/* Coolors Exported Palette - coolors.co/e4002b-000000-221d23-d1603d-4f3824 */

/* HSL */
$color1: hsla(349%, 100%, 45%, 1);
$color2: hsla(0%, 0%, 0%, 1);
$color3: hsla(290%, 9%, 13%, 1);
$color4: hsla(14%, 62%, 53%, 1);
$color5: hsla(28%, 37%, 23%, 1);

/* RGB */
$color1: rgba(228, 0, 43, 1);
$color2: rgba(0, 0, 0, 1);
$color3: rgba(34, 29, 35, 1);
$color4: rgba(209, 96, 61, 1);
$color5: rgba(79, 56, 36, 1);